<h1>Books</h1>

<% if @books.empty? %>
  <p>投稿がありません</p>
<% else %>
  <table>
    <thead>
      <tr>
        <th style="text-align: center;">Title</th>
        <th style="text-align: center;">Body</th>
      </tr>
    </thead>
    <tbody>
      <% @books.each do |book| %>
        <tr>
          <td><%= book.title %></td>
          <td><%= book.body %></td>
            <%= form_with model: Book do |f| %>
              <td><%= link_to 'Show', book_path(book) %></td>
              <td><%= link_to 'Edit',  edit_book_path(book.id) %></td>
              <td><%= link_to 'Destroy', book_path(book), method: :delete, data: { confirm: "Are you sure?" } %></td>
            <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
     
<% end %>

<%= render 'books/new' %>